/**! 테마 변수 */
:root {
  .default {
    // 사이드바 스타일
    --left-bg-color: #64a29c;
    --left-active-bg-color: rgba(222, 222, 222, 0.2);
    --left-text-color: #e3e3e3;
    --left-icon-color: #e3e3e3;
    --left-active-hover: #f1f1f1;
    --left-bg-hover: rgba(255, 255, 255, 0.2);
    --left-active-icon-color: #f1f1f1;
    --left-win-icon-color: rgba(255, 255, 255, 0.4);

    // 테두리를 포함한 선택된 스타일
    --border-active-color: #64a29c;

    // 오른쪽 레이아웃 콘텐츠 배경
    --right-theme-bg-color: radial-gradient(circle at top left,
        rgba(255, 209, 255, 0.3) 20%,
        rgba(130, 193, 187, 0.3) 100%);

    // 채팅창 본문 스타일
    --right-chat-reply-color: #f1f1f1;
    --right-chat-reply-active-color: rgba(99, 99, 99, 0.1);
    --right-chat-footer-line-color: rgba(99, 99, 99, 0.1);

    // 메시지 목록 스타일
    --msg-active-color: #13987f;
    // 그룹 공지 메시지 배경색
    --group-notice-bg: #fff;

    // 목록 공통 hover
    --list-hover-color: rgba(99, 99, 99, 0.1);

    // 전체 hover 아이콘 스타일
    --icon-hover-color: rgba(166, 166, 166, 0.2);
  }
}

html[data-theme='dark'] {
  .default {
    // 사이드바 스타일
    --left-bg-color: rgba(62, 101, 100, 0.8);
    --left-active-bg-color: rgba(222, 222, 222, 0.1);
    --left-text-color: #ccc;
    --left-icon-color: #ccc;
    --left-active-hover: rgba(26, 178, 146, 0.8);
    --left-bg-hover: rgba(133, 133, 133, 0.2);
    --left-active-icon-color: #1ab292;
    --left-win-icon-color: #1ab292;

    // 테두리를 포함한 선택된 스타일
    --border-active-color: #64a29c;

    // 오른쪽 레이아웃 콘텐츠 배경
    --right-theme-bg-color: radial-gradient(circle at top left,
        rgba(255, 209, 255, 0.2) 0%,
        rgba(130, 193, 187, 0.2) 150%);

    // 채팅창 본문 스타일
    --right-chat-reply-color: #666;
    --right-chat-reply-active-color: rgba(255, 255, 255, 0.1);
    --right-chat-footer-line-color: #555;

    // 메시지 목록 스타일
    --msg-active-color: rgba(19, 152, 127, 0.4);
    // 그룹 공지 메시지 배경색
    --group-notice-bg: rgba(133, 133, 133, 0.2);

    // 목록 공통 hover
    --list-hover-color: rgba(244, 244, 244, 0.1);

    // 전체 hover 아이콘 스타일
    --icon-hover-color: rgba(90, 90, 90, 0.4);
  }
}

/**! end */