/**! 테마 변수 */
:root {
  .simple {
    // 사이드바 스타일
    --left-bg-color: rgba(229, 229, 230, 1);
    --left-active-bg-color: rgba(193, 193, 193, 0.6);
    --left-text-color: #333;
    --left-icon-color: #333;
    --left-active-hover: #13987f;
    --left-bg-hover: rgba(193, 193, 193, 0.4);
    --left-active-icon-color: #13987f;
    --left-win-icon-color: rgba(19, 152, 127, 0.6);

    // 테두리를 포함한 선택된 스타일
    --border-active-color: #13987f;

    // 오른쪽 레이아웃 콘텐츠 배경
    --right-theme-bg-color: #f1f1f1;

    // 채팅창 본문 스타일
    --right-chat-reply-color: #ddd;
    --right-chat-reply-active-color: rgba(99, 99, 99, 0.1);
    --right-chat-footer-line-color: #e3e3e3;

    // 메시지 목록 스타일
    --msg-active-color: #13987f;
    // 그룹 공지 메시지 배경색
    --group-notice-bg: #fff;

    // 목록 공통 hover
    --list-hover-color: rgba(99, 99, 99, 0.1);

    // 전체 hover 아이콘 스타일
    --icon-hover-color: #e7e7e7;

    // 모바일 스타일
    --tab-bar-icon-color: rgba(19, 152, 127, 1);
  }
}

html[data-theme='dark'] {
  .simple {
    // 사이드바 스타일
    --left-bg-color: #161616;
    --left-active-bg-color: rgba(193, 193, 193, 0.1);
    --left-text-color: #e3e3e3;
    --left-icon-color: #e3e3e3;
    --left-active-hover: #13987f;
    --left-bg-hover: rgba(255, 255, 255, 0.2);
    --left-active-icon-color: #13987f;
    --left-win-icon-color: rgba(19, 152, 127, 0.6);

    // 테두리를 포함한 선택된 스타일
    --border-active-color: #13987f;

    // 오른쪽 레이아웃 콘텐츠 배경
    --right-theme-bg-color: #161616;

    // 채팅창 본문 스타일
    --right-chat-reply-color: #3b3b3b;
    --right-chat-reply-active-color: rgba(255, 255, 255, 0.1);
    --right-chat-footer-line-color: #202020;

    // 메시지 목록 스타일
    --msg-active-color: rgba(19, 152, 127, 0.4);
    // 그룹 공지 메시지 배경색
    --group-notice-bg: rgba(133, 133, 133, 0.2);

    // 목록 공통 hover
    --list-hover-color: rgba(244, 244, 244, 0.1);

    // 전체 hover 아이콘 스타일
    --icon-hover-color: #242424;

    // 모바일 스타일
    --tab-bar-icon-color: rgba(19, 152, 127, 0.4);
  }
}

/**! end */