/* 안전 영역이 0이 아닐 때만 적용 */
@supports (top: env(safe-area-inset-top)) {
  :root {
    /* 기본값을 0으로 설정, env()가 0이 아닌 값을 반환하면 덮어씌움 */
    --safe-area-inset-top: max(32px, env(safe-area-inset-top));
    --safe-area-inset-bottom: max(20px, env(safe-area-inset-bottom));
    --safe-area-inset-left: max(0px, env(safe-area-inset-left));
    --safe-area-inset-right: max(0px, env(safe-area-inset-right));
  }
}

@supports (top: constant(safe-area-inset-top)) {
  :root {
    /* 구버전 iOS 호환, 기본값을 0으로 설정 */
    --safe-area-inset-top: max(16px, env(safe-area-inset-top));
    --safe-area-inset-bottom: max(16px, env(safe-area-inset-bottom));
    --safe-area-inset-left: max(0px, env(safe-area-inset-left));
    --safe-area-inset-right: max(0px, env(safe-area-inset-right));
  }
}

:root {
  user-select: none !important;
  -webkit-user-select: none !important;
  -webkit-touch-callout: none !important;
}

/* 모바일 특정 스타일 */
/* Naive UI 메시지 컴포넌트 안전 영역 적응 */
.n-message-container.n-message-container--top {
  top: var(--safe-area-inset-top);
}

.chat-bot-message-gap {
  gap: 4px;
}