#message-input {
  padding: 4px 24px 4px 4px;
  /** 입력창 내부 패딩 */
  font-size: 14px;
  /** 폰트 크기 */
  color: inherit;
  /** 색상 상속 */
  cursor: text;
  /** 텍스트 입력 커서 */
  resize: none;
  /** 크기 조정 불가 */
  background: none;
  /** 배경 없음 */
  border: none;
  /** 테두리 스타일, 필요에 따라 수정 가능 */
  border-radius: 0;
  /** 테두리 모서리 */
  line-height: 20px;
  /** 행 높이 */
  overflow-y: visible;
  /** n-scrollbar 컴포넌트가 스크롤 처리 */
  overflow-x: hidden;
  /** 콘텐츠가 많을 때 가로 스크롤 불가 */
  flex: 1;
  /** 플렉스 박스로 사용 가능한 공간 채우기 */
  caret-color: #13987f;
  /** 커서 색상, 필요에 따라 조정 가능 */
  white-space: normal;
  /** 공백 문자 유지 및 정상 줄바꿈 */
  word-break: break-all;
  /** 단어 내부에서 강제 줄바꿈 */
  overflow-wrap: break-all;
  -webkit-white-space: normal;
  /** webkit 브라우저 호환 */
  -webkit-word-break: break-all;
  -webkit-overflow-wrap: break-all;
  hyphens: auto;
  /** 행 끝에서 긴 단어 자동 분리 */
  -webkit-hyphens: auto;
}

.ait-options {
  @apply z-999 w-200px h-fit max-h-190px bg-[--center-bg-color] rounded-8px p-[5px_0_5px_5px] border-(1px solid [--box-shadow-color]);
  box-shadow: 2px 2px 12px 2px var(--box-shadow-color);

  .ait-item {
    @apply h-26px text-[--text-color] text-14px p-[5px_0_5px_10px] mr-5px rounded-6px cursor-pointer;
  }
}

.AI-options {
  @apply z-999 w-260px h-fit max-h-190px bg-[--center-bg-color] rounded-8px p-[5px_0_5px_5px] border-(1px solid [--box-shadow-color]);
  box-shadow: 2px 2px 12px 2px var(--box-shadow-color);

  .AI-item {
    @apply h-26px text-[--text-color] text-14px p-[5px_0_5px_10px] mr-7px rounded-6px cursor-pointer;
  }
}

.active {
  background-color: var(--list-hover-color);
}